<!-- regex_app/templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="post" action="{% url 'weather_app:confirm' %}">
        {% csrf_token %}
        <select name="choice" id="choice">
            <option value="270000">大阪</option>
            <option value="280010">兵庫(神戸)</option>
            <option value="290010">奈良</option>
            <option value="300010">和歌山</option>
            <option value="260010">京都</option>
            <option value="250010">滋賀(大津)</option>
            <option value="240010">三重(津)</option>
         </select>
         <input type="submit" value="Submit">
    </form>
    
</body>
</html>
